:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color:#f5f4fa ;
  --second-btn-color:#2196F3;
--main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --color-header:#FFFFFF;
  --color-container:#EEEEEE;
--color-logo:#000000;
--color-logo-footer:#FFFFFF;
--color-main-btn:#F5F5F5;
--color-btn-text:#212121;
--color-main-title:#FFFFFF;
--background-color-team:#F5F4FA;

}
/* /главная страница */

body {
  background-color:var(--color-header);
  font-family: Roboto;
  font-size: 14px;
  color: var(--main-title-color);
 
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;}



p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 2px;
}
.section {
  padding-top: 94px ;
  padding-bottom: 94px;
}
.header-container {
display: flex;
align-items: center;
}

.nav-header {
  border: 1px solid  #ECECEC;
}


.contact-list {
display: flex;
align-items: center;
gap: 50px;
}
.header-connect {
margin-left: auto;
}

.nav-link {
  color: var(--main-title-color);
font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
align-items: center;
display: flex;
gap: 50px;


}
.nav {
  display: flex;
  margin-right: auto;
}
.nav-link:hover {
  color:var(--second-btn-color);
}
.nav-link:focus {
  color:var(--second-btn-color);
}
.nav-link .studio:visited {
color: var(--second-btn-color);

}
.logo-web {
  color: var(--color-logo);
  font-family : Raleway;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
font-weight: 700;
font-size: 26px;
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;

}
.accent {
  color: var(--second-btn-color);
  
 
}
.studio {
 
}
.portfolio {
 
}
.telepfon {
 
}
.mail {
 
}
.contact-link {
  text-decoration: none;
font-weight: 500;
  line-height: calc( 16 / 14 );
  letter-spacing: 0.02em;
  color:var(--second-title-color);

 }

 .contact-link:hover {
color:var(--second-btn-color);
}
.contact-link:focus {
  color:var(--second-btn-color);
}
.contact-link .number {
color:var( --second-title-color);
letter-spacing: 0.02em;
font-weight: 500;
 line-height: calc( 16 / 14 );

}

.hero-title {
  color:var(--color-header);
  font-weight: 900;
  line-height: calc( 60 / 44 );
  letter-spacing: 0.06em;
font-size: 44px;
text-transform: uppercase;
margin-bottom: 30px;
width: 696px;
 cursor: pointer;
  display: block;
  margin:  0  auto ;
  margin-left: auto;
  margin-right: auto;



}
.hero {
  background-color: var(--background-footer-color);
  text-align: center;
  padding: 200px 0;
  
}

.button-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px ;
  line-height: calc(26 / 16);
   letter-spacing: 0.03em;
  background-color: var(--second-btn-color);
  color: var(--color-main-title);
  cursor: pointer;
padding-left: 32px;
padding-right: 32px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 4px;
border: none;
margin-top: 30px;
}
.button-main:hover {
  color:var(--main-btn-color);
  background-color: var(--background-footer-color);
}
.button-main:focus {
  color:var(--second-btn-color);
}
.button-main:active {
  color:var(--second-btn-color);
}
.visually-hidden {
   position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* /feature style */

.feature {
  padding-bottom: 0;
}

.feature-title {
  color: var(--main-title-color);
line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 10px;
}
  

.feature-advance {
  color: var(--second-title-color);
  max-width: 270px;
 line-height: calc(24 / 14);
  letter-spacing: 0.03em;
 
 }

 .feature-list {
display: flex;
gap: 30px;

 }
 .list-prior {
  width: 270px;
 }

/* /photo section about*/

.section-title {
font-size: 36px;
letter-spacing: 0.03em;
 line-height: calc( 42 / 36 );
text-align: center;
margin-bottom: 50px;
  
}
.section-list {
 display: flex;
 gap: 30px;
}

/* team */

.team {
   background-color:var(--background-color-team); 
}
.team-title {
font-size: 36px;
letter-spacing: 0,03;
 line-height: calc( 42 / 36 );
 text-align: center;
 margin-bottom: 50px;
}
.img-list {
  display: flex;
 gap: 30px;
 }
 
.team-name {
  font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
 text-decoration: none;
 line-height:calc( 19 / 16 );
  text-align: center;
}

.team-profession {
  color: var(--second-title-color);
 font-size: 16px;
letter-spacing: 0.03em;
 line-height: calc( 19 / 16 );
  text-align: center;
  margin-top: 10px;
 }

 .team-list {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background: var(--color-header)
 }
 .team-card {
  padding-top: 30px;
  padding-bottom: 30px;
 }



/* footer*/

.footer-contact-link {
  color: rgb(255, 255, 255, 0.6);
font-style: normal;
  letter-spacing: 0.02em;
  line-height: calc( 16 / 14 );
  text-decoration: none;
   display: block;
}

.footer-contact-link:hover {
   color:var(--second-btn-color);
}

.footer {
   background-color: var(--background-footer-color);
   padding-top: 60px;
   padding-bottom: 60px;
}

.logo-web-footer {
  color: var(--color-logo-footer);
  font-family : Raleway;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
font-weight: 700;
font-size: 26px;
}
.contact-address {
  margin-top: 20px;
}
.footer-nav-link {
  margin-top: 9px;
}
.footer-nav-tel {
  margin-top: 9px;
}


/* addres */

.footer-contact-address-link {
color: var(--color-header);
letter-spacing: 0.03em;
 text-decoration: none;
 line-height: calc( 24 / 14 );
 font-style: normal;
 display: block;
}




/* second page */

.portfolio:visited {
  color: var(--second-btn-color);
}

/* filter */

.button-filter {
 font-family:inherit;
  font-size: 16px;
  line-height: calc( 26 / 16);
  letter-spacing: 0.03em;
 font-weight: 500;
  cursor: pointer;
  color: var(--color-btn-text);
background-color: var(--color-main-btn);
padding-left: 22px;
padding-right: 22px;
padding-top: 6px;
padding-bottom: 6px;
margin-right: 8px;
border-radius: 4px;
border: none;
 
}

.button {
  display: flex;
 gap: 8px;
 justify-content: center;

}

.button-filter:hover {
background-color: var(--second-btn-color);
  color: var(--main-btn-color);
  
}
.button-filter:focus {
  color: var(--colr-header);
background-color: var(--second-btn-color);
}
.button-filter:active {
  color:var(--second-btn-color);}


/* project */

.project-container {
   background-color: var(--color-container);
   cursor: pointer;
  display: block;
    margin:  0  auto ; }

.project-item {
  width: calc((100%- 60px) /3);
}
.project {
  gap: 30px;
}


 .project-list {
display: flex;
gap: 30px;
}

.project-subtitle {
  line-height: calc( 36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-title-color);
font-size: 18px;
margin-bottom: 4px;

}
.project-text {
  line-height: calc( 30 / 16 );
  letter-spacing: 0.03em;
  color: var(--second-title-color);
font-size: 16px;
margin-bottom: 20px;
margin-top: 4px;
}

.box {
border: 1px solid #EEEEEE;
padding: 20px 24px;
  }

.link-footer {
  color:var(--colr-header);
  position: absolute;
  font-weight: 400;
  line-height: calc( 24 / 14 );
 letter-spacing: 0.03em;
}
.link-footer:hover {
  color:var(--second-btn-color);
}
.link-footer:focus {
  color:var(--second-btn-color);
}

.card-set {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
 
 }
 .item h2 {
font-size: 18px;
}
.item p {
    margin: 0;
}
